*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bgColor1: #132338;
    --bgColor2: #193255;
    --bgBodyColor: #0e141d;
    --textColor1: #a7e200
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: var(--bgBodyColor);
}
.header{
    background-color: var(--bgColor1);
    margin-top: 40px;
    text-align: center;
}
.go_back{
    background-color: var(--bgColor2);
    border-radius: 10px;    
    border: solid 1px black;
    padding: 20px;
}
.components_list-ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.components_list{
    background-color: var(--bgColor1);
    width: 40%;
    height: 130px;
    border-radius: 20px;
}
.categories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 12px 10px 6px 16px;
    width: 100%;
    height: 100%;
}
.component{
    display: inline-block;
    list-style-type: none;
    color: gainsboro;
    font-size: 1.2rem;
    padding: 4px;
    transition: .4s;
    width: fit-content;
}
.component:hover{
    font-size: 1.4rem;
    padding: 0px;
    cursor: pointer;
    color: white;
}
.elementConfList{
    position: fixed;
    bottom: 0;
    width: 45%;
    height: 65vh;
    background-color: var(--bgColor1);
    border-radius: 0px 20px 0px 0px;
}
.res{
    width: 95vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 2.5vw;
}
.result_conf{
    width: 30%;
    height: 130px;
    background-color: var(--bgColor1);
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 5px;
    p{
        font-weight: 600;
        font-size: 1.4rem;
    }
    margin-right: 14vw;
}
.result_price_text{
    color: white;
    letter-spacing: 4px;
}
.result_price{
    color: lightgray;
}
.open_components{
    border: none;
    width: 60%;
    height: 30px;
    bottom: 1.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    transition: .4s;
}
.open_components:hover{
    cursor: pointer;
    border-radius: 14px;
    transform: translateX(-50%) scale(1.1);
    font-size: 1.1rem;
}
.field{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 600px;
    width: 45%;
    background-color: var(--bgColor1);
    border-radius: 20px 0 0 0;
    padding: 24px;
}
.pc_body{
    width: 100%;
    max-width: 550px;
    user-select: none;
    pointer-events: none;
    outline: none;
}
.img_body{
    display: inline-block;
    position: relative;
    color: white;
}
.img_body div{
    padding: 10px;
    border-radius: 10px;
    opacity: .4;
    background-color: rgba(14 ,20, 29,0.3);
    position: absolute;
    transition: .5s;
}
.img_body div:hover{
    cursor: pointer;
    opacity: 1;
}
.img_body div:hover .choice::before {
    content: attr(data-text);
}
.info{
    position: absolute;
    right:  30px;
    top: 10px;
    color: white;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, .6);
    border: solid gray 1.5px;
    padding: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.info:hover{
    cursor:help;
}
.info:hover + .open_info {
    display: block;
}
.open_info{
    width: 200px;
    height: auto;
    color: white;
    padding: 10px;
    background-color: var(--bgColor2);
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: -20%;
    display: none;
}
.body{
    top: 12%;
    right: 12%;
    width: 8%;
    height: 8%;
}
.cpu{
    top: 35%;
    left: 28%;
    width: 6%;
    height: 6%;
    z-index: 3;
}
.power{
    top: 70%;
    left: 12%;
    width: 24%;
    height: 16%;
}
.MB{
    width: 30%;
    height: 42%;
    top: 25%;
    left: 15%;
    z-index: 1;
}
.cooler{
    top: 30%;
    left: 20%;
    width: 16%;
    height: 20%;
    z-index: 2;
}
.cooler .choice{
    top: -10px;
    left: -10%;
}
.ram{
    top: 30%;
    left: 36%;
    width: 6%;
    height: 20%;
    z-index: 2;
}
.SSD{
    top: 38%;
    left: 60%;
    width: 16%;
    height: 4%;
}
.HDD{
    top: 44%;
    left: 58%;
    width: 20%;
    height: 8%;
}
.M2{
    top: 60%;
    left: 20%;
    width: 16%;
    z-index: 2;
}
.GPU{
    top: 54%;
    left: 15%;
    width: 34%;
    border-radius: 0px !important;
    z-index: 2;
}
.choice{
    position: absolute;
    top: -10px;
    left: 85%;
    border-radius: 50px;
    background-color: var(--bgColor2);
    padding: 8px;
    transform-origin: right center;
    white-space: nowrap;
}
.choice::before {
    content: "+";
    font-weight: 300;
}
.choice:hover::before{
    content: attr(data-text);
}